dark_mode_background_color    #1e2326
dark_mode_contrast    1.0
zoom_inc_factor       1.04
vertical_move_amount    0.6
horizontal_move_amount    0.3
move_screen_ratio      0.7
default_dark_mode      0.8
font_size 20
fit_to_page_width_ratio 0.5
startup_commands    toggle_custom_color
should_launch_new_instance 1

# EVERFOREST COLOURS#
custom_color_mode_empty_background_color    #1e2326
page_separator_color       #1e2326
background_color           #1e2326
keyboard_select_background_color     0.255 0.294 0.314 0.3
keyboard_select_text_color        0.859 0.737 0.498 1.0
keyboard_selected_tag_text_color  0.0 1.0 0.0 1.0
keyboard_selected_tag_background_color  1.0 1.0 1.0 0.3
text_highlight_color       #7fbbb3
visual_mark_color          0.9 0.494 0.5 0.8

search_highlight_color     #a7c080
link_highlight_color       #e69875
synctex_highlight_color    #dbbc7f

highlight_color_n          #e67e80
highlight_color_r          #e69875
highlight_color_t          #dbbc7f
highlight_color_s          #a7c080
highlight_color_h          #83c092
highlight_color_a          #7fbbb3
highlight_color_a          #d699b6


custom_background_color    #1e2326
custom_text_color          #d3c6aa

ui_text_color              #d3c6aa
ui_background_color        #272e33
ui_selected_text_color     #a7c080
ui_selected_background_color #45443c

status_bar_color           #2e383c
status_bar_text_color      #e67e80
